@using eqshopping.Controllers;
@model DataManagementController.vFormFM

<div class="mt-3 mb-1 row">
    <label class="col-3 col-form-label required"><b>Cell No. :</b></label>
    <div class="col">
        @{
            var isCellNoDisabled = Model?.txt_cellno_disabled == true ? "disabled" : "";
        }
        <input class="form-control fs-2" name="txt_cellno" @isCellNoDisabled value="@Model?.txt_cellno" id="txtCellNo"
               onkeyup="txtCellNo_KeyPress(event)">
        <small class="error text-danger" id="txt_cellno"></small>
    </div>
</div>

<div class="my-1 row">
    <label class="col-3 col-form-label required"><b>POS No. :</b></label>
    <div class="col">
        @{
            var isPosDisabled = Model?.txt_pos_disabled == true ? "disabled" : "";
        }
        <input class="form-control fs-2" name="txt_posno" @isPosDisabled value="@Model?.txt_posno" id="txtPOSNo" onkeyup="txtPOSNo_KeyPress(event)" />
        <small class="error text-danger" id="txt_posno"></small>
    </div>
</div>